body {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ececec;
}

canvas#exercice {
  background-color: #fff;
  border: 1px solid black;
}